<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <title>ToIPA</title>
</head>

<nav class="navbar navbar-expand navbar-dark bg-dark dropshadow">
  <a class="navbar-brand" href="/">[tʰu aɪ pʰiː eɪ]</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-brand" href="https://www.github.com/lincolnschick"><img src="{% static 'github-logo.svg' %}" alt="github" height="30"></a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="https://www.linkedin.com/in/lincolnschick"><img src="{% static 'linkedin-logo.svg' %}" alt="linkedin" height="30"></a>
    </li>
  </ul>
</nav>
<body>
{% block content %}{% endblock content %}
</body>
</html>