{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="centered">
  <div class="dropshadow">
    <div class="input-group width">

      <select class="form-control" aria-label="select a language" id="lang-select">
        <option value="english">English</option>
        <option value="spanish">Spanish</option>
        <option value="pinyin">Pinyin</option>
      </select>

      <select class="form-control input-group-append" aria-label="select IPA type" id="ipa-select">
        <option value="broad">Broad IPA</option>
        <option value="narrow">Narrow IPA</option>
      </select>

    </div>

    <div class="input-group width">
      <textarea class="form-control txtareas" id="language-input" rows="5" placeholder="Enter text"></textarea>
      <textarea readonly class="form-control input-group-append txtareas" id="ipa-output" rows="5" placeholder="IPA"></textarea>
    </div>
  </div>
</div>
<script src="{% static 'apis.js' %}" type="module"></script>
{% endblock content %}